body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: navy;
  color: white;
  padding: 3rem;
  text-align: center;
}

.header-image {
    display: block;
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 2rem auto 0;
    border-radius: 8px;
}

.card-container {
    display: flex;
    gap: 1rem;
}

.card {
    flex: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightgray;

}