body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: transparent;
  color: inherit;
  padding: 3rem;
  text-align: left;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-label {
  color: #000;
}

.brand-amazon {
  color: #ff9900;
}

.learn-more {
  color: #000;
  text-decoration: underline;
}

.learn-more:hover,
.learn-more:focus-visible {
  color: #333;
}

.header h1 {
  color: #000;
  font-family: "ADLaM Display", sans-serif;
}

.header p {
  color: #333;
  font-family: Verdana, sans-serif;
}

.header-image {
  display: block;
  box-sizing: border-box;
  width: 109.84375%;
  height: auto;
  margin: 2rem -4.921875% 0;
  border-radius: 18px;
  border-color: #000000;
  border: 4px solid;
}

.header-image-container::after {
  display: block;
  width: 109.84375%;
  height: 2px;
  margin: 10px -4.921875% 0;
  background-color: #000;
  content: "";
}

.card-container {
    display: flex;
    gap: 1rem;
}

.card {
  flex: 1;
  background-color: transparent;
  padding: 0 1rem 1rem;
  border-radius: 10px;
  box-shadow: none;
  transform: translateY(-25px);
}

.card h2 {
  color: #000;
}

.card p {
  color: #333;

}

.card + .card::before {
  display: block;
  width: 109.84375%;
  height: 2px;
  margin: 0 -4.921875% 1rem;
  background-color: #000;
  content: "";
}